<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        div {
        height: 100px;
        width: 100px;
        position: fixed;
        top: 30%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
    </style>
</head>
<body>
    <div>
        <h2><a href="accounts/login">Log in</a></h2>
        <h2><a href="registration">Sign up</a></h2>
        <h2><a href="admin">Admin panel</a></h2>
    </div>
</body>
</html>