<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        div {
        height: 200px;
        width: 400px;
        position: fixed;
        top: 30%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }
    </style>
</head>
<body>
    <div>
        {% if form.errors %}
        <p>Something went wrong</p>
        {% endif %}

        {% if next%}
        <p>You can not access that page</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}" class="form-group">
            {% csrf_token %}

            <p>Username:</p>
            <p>{{ form.username }}</p>
            <p>Password: </p>
            <p>{{ form.password }}</p>

            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}" class="btn btn-primary">
        </form>
    </div>
</body>
</html>